.bike-form {
    padding: 10px 5px;
}

.fista-disabled {
    pointer-events: none;
    opacity: 0.8;
}

.preview-image {
    width: 100px;
    height: auto;
    margin: 5px;
}

.file-input-btn {
    display: block;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
