.login-form {
    margin: 40px auto 0;
    text-align: center;

    &__form-group {
        & + & {
            margin-top: 15px;
        }
    }

    &__input {
        width: 240px;
        height: 40px;
        border-radius: 4px;
        color: black;
        padding: 0 10px;
        font-size: 16px;

        & + & {
            margin-top: 15px;
        }
    }

    &__submit {
        width: 180px;
        height: 35px;
        border-radius: 4px;
        margin-top: 40px;
        font-size: 16px;
        font-weight: 600;
        padding: 5px;
        text-transform: uppercase;
        background-color: lightseagreen;
        border: none;
        color: white;
    }
}
