.bike-form {
  padding: 10px 5px;
}

.preview-image {
  width: 100px;
  height: auto;
  margin: 5px;
}

.file-input-btn {
  display: block;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
}
